# Created by .ignore support plugin (hsz.mobi)

# Ignore Directory
.idea/
venv/
__pycache__/

bin/

# Ignore File
celerybeat-schedule
*~
.DS_Store
*.pyc
celerybeat-schedule.db
celerybeat-schedule.*

logs/
