[Unit]
Description=Deadpool Periodic Service
Requires=mysqld.service
Wants=redis.service
After=mysqld.service elasticsearch.service

[Service]
Type=simple
User=celery
Group=celery
WorkingDirectory=/home/soft/Deadpool
ExecStart=/bin/bash /home/soft/Deadpool/bin/deadpool.sh

[Install]
WantedBy=multi-user.target